<button type="button" class="btn btn-primary">Click me!</button>
<carousel [showIndicators]="false">
  <slide>
    <img
      alt="First slide"
      class="d-block w-100"
      src="https://drive.google.com/uc?id=1w1f4sdEblDGddTziVZUuMVsYwh8r2rGG"
      height=800 width=1200
    />
  </slide>
  <slide>
    <img
      alt="Second slide"
      class="d-block w-100"
      src="https://drive.google.com/uc?id=1MjQuA8NpMCA3gdiVfpXU62-DdmIIPhlg"
      height=800 width=1200
    />
  </slide>
</carousel>